<!DOCTYPE html>
<html>
	<head>
		<title>@aboul profile</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Abel BRIEN -- Frontend Developer">
		<link rel="shortcut icon" type="image/png" href="/favicon.png">
		<link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link href="/css/magnific-popup.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="bgs">
			<div id="bg1">
				<div>
				</div>
			</div>
		    <div id="bg2">
		    	<div>
		    	</div>
		    </div>
		    <div id="bg3">
		    	<div>
		    	</div>
		    </div>
		</div>

		<section class="content" role="heading">
			<img class="avatar" src="http://gravatar.com/avatar/0047a48929cf71d9d944b53f53d859c1?s=200" />
			<h1>Abel BRIEN</h1>
			<p>Frontend Developer</p>

			<div class="gallery-link-container">
				<p class="more">5 minutes to lose? Want to relax?</p>
				<button type="button" class="btn" id="gallery-link">
					<span>TAKE A LOOK</span>
				</button>
			</div>
		</section>

		<section class="content" role="main">
			<p class="header">Hi there! I'm a frontend developer based on <a target="_blank" href="https://en.wikipedia.org/wiki/Toulouse">Toulouse</a>, I work for <a target="_blank" href="www.x2i.fr">X2I</a>, a french Magento Gold partner.</p>

			<p>I'm also interested about HTML5, CSS3, Javascript, <a target="_blank" href="http://backbonejs.org/">Backbone.js</a>, <a target="_blank" href="http://nodejs.org/"></a>node.js and also <a href="http://git-scm.com/">Git</a> and lots frontend tools like Compass, RequireJs, Grunt...</p>
		</section>

		<section class="content" id="links">
			<ul>
				<li>
					<a href="https://github.com/aboul">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-github fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="https://fr.linkedin.com/in/abelbrien">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/aboulbox">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="http://aboul142.deviantart.com">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-deviantart fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="mailto:abel.brien@gmail.com">
						<span class="fa-stack fa-lg">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-envelope-o fa-stack-1x"></i>
						</span>
					</a>
				</li>
			</ul>
		</section>

		<section class="content" id="gallery">
			<i id="goBack">Go back</i>
			<nav>
				<h2>Gallery</h2>

				<ul>
					<li>
						<button type="button" class="btn nav-item active" data-gallery="flower">
							<span>Flowers</span>
						</button>
					</li>
					<li>
						<button type="button" class="btn nav-item" data-gallery="dark">
							<span>Dark</span>
						</button>
					</li>
				</ul>
			</nav>

			<div id="gallery-content" style="display: none;">
			    <div id="owl-example" class="owl-carousel">
			      <div>
			      	<div id="tile1" class="tile">
						<div class="tile_flip">
							<div class="front">
								<a class="popup-link-1" href="media/img/slider/dahlia1.jpg">
									<img class="lazyOwl" alt="X2i" data-src="media/img/slider/dahlia1_small.jpg">
								</a>
							</div>
						    <div class="back">
						    	<a class="popup-link-2" href="media/img/slider/chaos.jpg">
									<img class="lazyOwl" alt="X2i" src="media/img/slider/chaos_small.png">
								</a>
							</div>
						</div>
					</div>
			      </div>
			      <div>
			      	<div id="tile2" class="tile">
						<div class="tile_flip">
							<div class="front">
								<a class="popup-link-1" href="media/img/slider/dahlia2.jpg">
	  								<img class="lazyOwl" alt="X2i" data-src="media/img/slider/dahlia2_small.jpg">
	  							</a>
							</div>
						    <div class="back">
						    	<a class="popup-link-2" href="media/img/slider/pilgrimage.jpg">
	  								<img class="lazyOwl" alt="X2i" src="media/img/slider/pilgrimage_small.jpg">
	  							</a>
							</div>
						</div>
					</div>
			      </div>
			      <div>
			      	<div id="tile3" class="tile">
						<div class="tile_flip">
							<div class="front">
								<a class="popup-link-1" href="media/img/slider/dahlia3.jpg">
	  								<img class="lazyOwl" alt="X2i" data-src="media/img/slider/dahlia3_small.jpg">
	  							</a>
							</div>
						    <div class="back">
						    	<a class="popup-link-2" href="media/img/slider/firework.jpg">
									<img class="lazyOwl" alt="X2i" src="media/img/slider/firework_small.jpg">
								</a>
							</div>
						</div>
					</div>
			      </div>
			    </div>
			</div>
		</section>

		<!-- Scripts -->
		<script type="text/javascript" src="js/built.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	</body>

</html>